<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.RobotRemoteControl"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.RobotRemoteControl">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".PROTODirectControlActivity.PROTODirectControlActivity"
            android:exported="true"
            android:theme="@style/Theme.RobotRemoteControl">
            <!-- This intent filter SHOULD force it to get its own back stack... but then how does
            android know which app to start in???
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            -->
            </activity>

        </application>

    </manifest>